.section {
  padding: 50px 0 100px;
  background: #282a36;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}

.form {
  background: #282a36;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 400px;
  margin: 0 auto;
}
.input:focus,
.input:focus-within {
  outline-color: aliceblue;
}
.error {
  position: absolute;
  top: -22.5px;
}
.input .span {
  left: 0;
  top: -14.5px;
  background: #282a36;
}
