<div class="nav-wrapper w-full py-10">
  <ul
    class="menu menu-horizontal bg-base-200 rounded-box mt-6 w-2/4 mx-auto flex justify-center"
  >
    <li>
      <a
        class="tooltip"
        data-tip="Home"
        [routerLink]="['/calculator']"
        routerLinkActive="router-link-active"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>
      </a>
    </li>
    <li>
      <a
        class="tooltip"
        data-tip="Router"
        [routerLink]="['/object-list']"
        routerLinkActive="router-link-active"
      >
        <img
          src="https://icongr.am/material/ab-testing.svg?size=20&color=ffffff"
          alt=""
        />
      </a>
    </li>
    <li>
      <a
        class="tooltip"
        data-tip="directive"
        [routerLink]="['/directive']"
        routerLinkActive="router-link-active"
      >
        <img
          src="https://icongr.am/material/alpha-d.svg?size=20&color=ffffff"
          alt=""
        />
      </a>
    </li>
    <li>
      <a
        class="tooltip"
        data-tip="Input/Output"
        [routerLink]="['/life-cycle']"
        routerLinkActive="router-link-active"
      >
        <img
          src="https://icongr.am/material/account-multiple-check.svg?size=20&color=ffffff"
          alt=""
        />
      </a>
    </li>
    <li>
      <a
        class="tooltip"
        data-tip="Request"
        [routerLink]="['/posts']"
        routerLinkActive="router-link-active"
      >
        <img
          src="https://icongr.am/material/api.svg?size=20&color=ffffff"
          alt=""
        />
      </a>
    </li>
    <li>
      <a
        class="tooltip"
        data-tip="Form"
        [routerLink]="['/form']"
        routerLinkActive="router-link-active"
      >
        <img
          src="https://icongr.am/clarity/form.svg?size=20&color=ffffff"
          alt=""
        />
      </a>
    </li>
  </ul>
</div>
