<main class="main">
  <section class="top-side bg-base-100">
    <div class="logo-wrap">
      <span>Q</span>
      <svg
        class="logo-bg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 400 400"
        fill="none"
      >
        <!-- Градиенты -->
        <defs>
          <!-- Линейный градиент для квадрата -->
          <linearGradient
            id="b"
            x1="0"
            x2="400"
            y1="400"
            y2="0"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F0060B" />
            <stop offset="0.5" stop-color="#CC26D5" />
            <stop offset="1" stop-color="#7702FF" />
          </linearGradient>
        </defs>

        <!-- Квадрат с закругленными углами -->
        <rect x="50" y="50" width="300" height="300" rx="50" fill="url(#b)" />
      </svg>
      <svg
        class="logo-text"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 982 239"
        fill="none"
      >
        <defs>
          <linearGradient
            id="b"
            x1="0"
            x2="982"
            y1="192"
            y2="192"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F0060B" />
            <stop offset="0" stop-color="#F0070C" />
            <stop offset=".526" stop-color="#CC26D5" />
            <stop offset="1" stop-color="#7702FF" />
          </linearGradient>
          <radialGradient
            id="c"
            cx="0"
            cy="0"
            r="1"
            gradientTransform="rotate(118.122 171.182 60.81) scale(205.794)"
          >
            <stop stop-color="#FF41F8" />
            <stop offset=".707" stop-color="#FF41F8" stop-opacity=".5" />
            <stop offset="1" stop-color="#FF41F8" stop-opacity="0" />
          </radialGradient>
        </defs>

        <g>
          <!-- Буквы слова "Quize" -->
          <text
            x="100"
            y="150"
            font-family="Arial, sans-serif"
            font-size="150"
            fill="url(#b)"
            font-weight="bold"
          >
            Quize
          </text>
        </g>
      </svg>
    </div>
  </section>
  <section class="greeteng-angular mx-auto bg-base-100 w-full">
    <div class="bottom-side text-center container">
      <h1 class="text-5xl pb-5">
        {{ title }}
      </h1>

      <p
        [ngStyle]="{ opacity: showMessage ? '1' : '0' }"
        class="pb-5 text-10xl"
      >
        {{ congrat }}
      </p>
      <button class="btn btn-secondary" (click)="toggleMessage()">
        Click me!
      </button>
    </div>
  </section>
  <app-navigations></app-navigations>

  <router-outlet></router-outlet>
</main>
