<div
  class="calc_wrapp max-h-dvh flex flex-col items-center justify-center px-0 pb-5 bg-gradient-primary-180"
>
  <div class="card mt-10 bg-base-100 shadow-xl w-2/3">
    <h3 class="text-3xl text-center pt-5">Single signal</h3>
    <div class="flex justify-center flex-col items-center w-full gap-5 p-10">
      <button
        (click)="increment()"
        class="btn btn-square hover:bg-green-400 ease-linear hover:text-green-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          style="transform: rotate(45deg)"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>

      <h1
        class="text-9xl text-center color-primary w-2/5"
      >

      {{counter()}}

      </h1>

    </div>
  </div>

  <div class="card mt-10 bg-base-100 shadow-xl w-2/3">
    <h3 class="text-3xl text-center pt-5">Computed signal</h3>
    <div class="flex justify-center flex-col items-center w-full gap-2 p-10">

      <h1
        class="text-9xl text-center color-primary w-2/5"
      >

      {{dablCounter()}}

      </h1>

    </div>
  </div>

</div>
